@import "tailwindcss";
@import "devicon/devicon.min.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-bricolage-grotesque);
}

/* Footer styles */
.footer {
  @apply w-full py-8 mt-10;
  @apply flex justify-center items-center;
}
.footer-content {
  @apply flex flex-row items-center justify-center;
}
.footer-text {
  @apply text-gray-800 text-base font-medium tracking-[-0.05em];
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Bricolage Grotesque", Helvetica, sans-serif;
}

.header {
  @apply flex justify-between py-10 container mx-auto items-center;

  .logo {
    @apply flex flex-row gap-4 items-center;
  }
  .logo-icon-wrapper {
    @apply rounded-full p-3 ring-1 ring-gray-200;
  }
  .logo-text {
    @apply text-black font-semibold;
  }
  .navigation {
    @apply flex flex-row gap-4;
  }
  .navigation-list {
    @apply flex flex-row gap-12;
  }
  .navigation-list-item {
    @apply flex justify-center items-center mx-2;
  }
  .navigation-link {
    @apply inline-flex gap-2 font-medium text-gray-800;

    &:hover {
      @apply text-black;
    }
    &.build-with-ai {
      @apply font-semibold tracking-[-0.05em] bg-indigo-500 text-white px-6 py-3 rounded-full;
    }
  }
}

.hero {
  @apply flex flex-col items-center justify-center container mx-auto;
  @apply py-10 gap-8;
  @apply text-black;

  .avatar-wrapper {
    @apply rounded-full bg-blue-100 w-[170px] h-[170px] overflow-hidden flex items-center justify-center p-10;

    .avatar {
      @apply w-full h-full object-cover;
    }
  }

  .greetings {
    @apply text-3xl font-semibold mb-5 tracking-[-0.05em];
  }

  .headline {
    @apply inline-flex flex-col text-7xl text-center font-black leading-[1.1] tracking-[-0.05em];
  }

  .description {
    @apply text-xl w-[700px] text-center;
  }

  .cta {
    @apply text-xl font-semibold tracking-[-0.05em] bg-black text-white px-6 py-3 rounded-full;
  }
}

.clients {
  @apply py-10 my-10;

  .clients-list {
    @apply flex flex-row flex-wrap justify-center items-center gap-10;

    .client-item {
      @apply flex flex-col items-center grayscale scale-90;
    }
    span.client-logo {
      @apply text-black font-semibold text-2xl tracking-[-0.05em];
    }
  }
}

.projects {
  @apply py-10 my-10 container mx-auto;

  .projects-list {
    @apply flex flex-col items-center justify-center px-16 w-[70%] mx-auto;

    .project-item {
      @apply h-[100vh] flex flex-col justify-center items-center;
    }
    .project-card-identity {
      @apply flex gap-10;
    }
    .project-card-image-wrapper {
      @apply flex flex-col items-center flex-2/3;
    }
    .project-card-image {
      @apply w-full h-[400px] rounded-4xl object-cover;
    }
    .project-card-identity-info {
      @apply flex flex-col flex-1/3 pt-5;
    }
    .project-card-identity-title {
      @apply font-bold text-3xl mb-3 tracking-[-0.05em];
    }
    .project-card-identity-description {
      @apply text-xl;
    }
    .project-card {
      @apply flex flex-col gap-10;
    }
    .project-card-info {
      @apply flex gap-10;
    }
    .project-card-info-personal,
    .project-card-info-skills {
      @apply flex-1/2;
    }
    .project-card-info-skills {
      @apply self-end;
    }
    .project-card-info-personal {
      @apply text-right;
    }
    .project-card-info-position {
      @apply font-semibold text-3xl mb-3 tracking-[-0.05em];
    }
    .project-card-info-technologies {
      @apply flex flex-row gap-5 mb-2;
    }
    .project-card-info-technology {
      @apply inline-flex flex-col items-center justify-center px-4 py-8 rounded-2xl bg-gray-200 text-gray-800;
    }
    .project-card-info-technology-icon {
      @apply text-4xl mb-1;
    }
    .project-card-info-duration {
      @apply text-gray-600;
    }
    .project-card-info-technology-name {
      @apply font-bold text-sm;
    }
    .project-card-identity-description,
    .project-card-info-description {
      @apply text-lg text-gray-600;
    }
    .project-card-identity-link {
      @apply rounded-full inline-flex gap-2 px-6 py-3 bg-black text-white self-start mt-5;
    }
    .project-card-identity-link-text {
      @apply font-semibold;
    }
  }
}

.skills {
  @apply px-16 min-h-screen flex justify-center items-center;

  .skills-grid {
    .skill-item {
      @apply relative overflow-hidden rounded-4xl p-8 flex flex-col items-start justify-end;
    }
    .skill-item-icons {
      @apply flex flex-row gap-6;
    }
    .skill-item-icons i {
      @apply text-4xl;
    }
    .skill-item-text {
      @apply font-bold text-lg mt-3 tracking-[-0.05em];
    }

    .skill-item::before {
      content: "";
      @apply absolute z-10 top-0 left-0 w-full h-full;
      background-repeat: no-repeat;
      opacity: 0.25;
    }
    .skill-item:nth-child(1)::before {
      background-image: url("/images/brushes/1.svg");
      background-position: top left 10%;
      background-size: 350%;
    }
    .skill-item:nth-child(2)::before {
      background-image: url("/images/brushes/2.svg");
      background-position: center;
      background-size: 300%;
      opacity: 0.15;
    }
    .skill-item:nth-child(3)::before {
      background-image: url("/images/brushes/3.svg");
      background-position: center;
      background-size: 100%;
      opacity: 0.15;
    }
    .skill-item:nth-child(4)::before {
      background-image: url("/images/brushes/4.svg");
      background-position: center;
      background-size: 200%;
      opacity: 0.15;
    }
    .skill-item:nth-child(5)::before {
      background-image: url("/images/brushes/5.svg");
      background-position: center;
      background-size: 250%;
      opacity: 0.05;
    }
    .skill-item:nth-child(6)::before {
      background-image: url("/images/brushes/6.svg");
      background-position: center;
      background-size: 250%;
      opacity: 0.1;
    }
    .skill-item:nth-child(7)::before {
      background-image: url("/images/brushes/7.svg");
      background-position: center;
      background-size: 250%;
      opacity: 0.15;
    }
    .skill-item:nth-child(8)::before {
      background-image: url("/images/brushes/8.svg");
      background-position: center;
      background-size: 250%;
      opacity: 0.15;
    }
    .skill-item:nth-child(9)::before {
      background-image: url("/images/brushes/9.svg");
      background-position: center;
      background-size: 250%;
      opacity: 0.15;
    }
    .skill-item:nth-child(10)::before {
      background-image: url("/images/brushes/10.svg");
      background-position: top left;
      background-size: 500%;
      opacity: 0.15;
    }
  }
}

.contact {
  @apply min-h-screen flex flex-col justify-center items-center;

  .contact-content {
    @apply flex flex-row gap-16;
  }
  .contact-content-left,
  .contact-form {
    @apply flex-1/2;
  }
  .contact-content-left {
    @apply rounded-4xl overflow-hidden flex flex-col items-end justify-end p-10 pt-16;

    background-image: url("/images/background.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .contact-content-left-icon {
    @apply rounded-full bg-blue-100 w-[175px] h-[175px] overflow-hidden flex items-center justify-center mb-5 mt-28;

    .contact-content-left-image {
      @apply w-full h-full object-cover;
    }
  }
  .contact-content-left-title {
    @apply inline-flex flex-col text-5xl text-right font-black leading-[1.1] tracking-[-0.05em] mb-3;
  }
  .contact-content-left-description {
    @apply inline-flex flex-col text-xl w-[700px] text-right;
  }
  .contact-socials {
    @apply flex flex-row gap-3 mt-10;
  }
  .contact-social-item {
    @apply bg-blue-100 rounded-full w-[50px] h-[50px] overflow-hidden flex items-center justify-center;
  }

  .contact-form {
    @apply flex flex-col justify-center gap-5;
  }
  .contact-form-label {
    @apply flex flex-col w-[60%];
    @apply font-semibold;

    span {
      @apply relative left-4;
    }
  }
  .contact-form-input {
    @apply rounded-2xl border border-gray-200 p-4;
  }
  .contact-form-button {
    @apply flex gap-2 items-center justify-center self-start text-xl font-semibold tracking-[-0.05em] bg-black text-white px-6 py-3 rounded-full;
    @apply mt-4;
  }
}

.with-ai {
  @apply relative overflow-hidden min-h-screen flex flex-col justify-center items-center bg-white text-black grayscale;

  background-repeat: no-repeat;
  background-image: url("/images/with-ai.png");
  background-position: center right 20%;
  background-size: contain;

  &:before {
    content: "";
    @apply absolute z-0 top-0 left-0 w-full;

    box-shadow: 0 0 100px 150px white;
  }
  &:after {
    content: "";
    @apply absolute z-0 bottom-0 left-0 w-full;

    box-shadow: 0 0 50px 100px white;
  }
  .with-ai-content {
    @apply flex relative flex-col gap-5 w-[70%] mx-auto py-10;
  }
  .with-ai-title {
    @apply flex flex-col text-5xl font-black leading-[1.1] tracking-[-0.05em];

    span {
      @apply inline-flex items-center gap-2;
    }
  }
  .with-ai-description {
    @apply text-xl flex flex-col mb-5;
  }
  .with-ai-button {
    @apply inline-flex justify-center items-center w-fit gap-2 text-xl font-semibold tracking-[-0.05em] bg-black text-white px-6 py-3 rounded-full;
  }
}
